@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This game was a passion project with my friend Brandon Pinson, who aided in creating the story. I Zack Chapman, did the coding for the game. It utilizes a Local Data Base that stores 
    each scenario text and then links them to other scenarios similar to a choose your own adventure game. In total their are 325 scenarios but as of 11/02/2020 i currently only have 115
    included in the game. All the scenarios will be available for viewing on word document. I have learned greatly from this experience and look forward to creating another game utilizing
    Disney character since they are available for use via open source and their likeness.</p>
